@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease-in-out;
}

.bg1 {
  background-image: url("/images/djerdapska-klisura.jpg");
}

.bg2 {
  background-image: url("/images/krupanjsko-vrelo.jpg");
}

.bg3 {
  background-image: url("/images/pecina-stopica.jpg");
}

.bg4 {
  background-image: url("/images/uvac-meandri.jpg");
}

html, body {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}

.icon-button {
  cursor: pointer;
  background: none;
  border: none;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
#main h1 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #fff;
}
#main h2 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #fff;
}
#main .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#main .buttons button {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
#main .buttons button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}

#vote {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-family: "Source Sans 3", serif;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  #vote {
    left: 10%;
    right: 10%;
  }
}
#vote h1 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #222222;
  text-align: center;
}
#vote .error {
  margin: 10px 0 0;
  font-size: 14px;
  color: #602020;
}
#vote .buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#vote .buttons button {
  border: 1px solid #222222;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #222222;
  cursor: pointer;
}
#vote .buttons button:hover {
  background-color: #222222;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#vote .buttons button.green {
  border: 1px solid #246a17;
  color: #246a17;
}
#vote .buttons button.green:hover {
  background-color: #246a17;
  color: #fff;
}
#vote .buttons button.yellow {
  border: 1px solid #ddae0c;
  color: #ddae0c;
}
#vote .buttons button.yellow:hover {
  background-color: #ddae0c;
  color: #fff;
}
#vote .buttons button.red {
  border: 1px solid #e40a0a;
  color: #e40a0a;
}
#vote .buttons button.red:hover {
  background-color: #e40a0a;
  color: #fff;
}

#question-list {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-family: "Source Sans 3", serif;
  overflow: scroll;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  #question-list {
    left: 10%;
    right: 10%;
  }
}
#question-list ul {
  list-style: none;
  margin: 10px 0 0 0;
}
#question-list ul li {
  margin-bottom: 10px;
  padding: 10px 0;
}
#question-list .item-header {
  display: flex;
}
#question-list .heading {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}
#question-list .main-wrapper {
  position: absolute;
  top: 70px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: scroll;
}
#question-list h1 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #222222;
  text-align: center;
  width: 100%;
}
#question-list h2 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #222222;
}
#question-list .button {
  border: 1px solid black;
  background: transparent;
  text-transform: uppercase;
  font-family: "Source Sans 3", serif;
  padding: 5px 10px;
  cursor: pointer;
}
#question-list main b {
  font-weight: bold;
}
#question-list main .notice {
  margin: 10px 0;
  font-style: italic;
  font-size: 12px;
}
#question-list main .stats {
  margin-top: 10px;
}
#question-list form {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  margin-top: 10px;
}
#question-list form .horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#question-list form .vertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#question-list form .error {
  margin: 10px 0 0;
  font-size: 14px;
  color: #602020;
}
#question-list form label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
#question-list form input, #question-list form textarea {
  width: 100%;
  background: transparent;
}

#applications {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-family: "Source Sans 3", serif;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  #applications {
    left: 10%;
    right: 10%;
  }
}
#applications h1 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #222222;
  text-align: center;
}
#applications h2 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #222222;
  margin: 20px 0;
  text-align: center;
}
#applications h3 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #222222;
  margin: 20px 0 10px 0;
  text-align: left;
}
#applications select.styled {
  border: 1px solid #222222;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #222222;
  cursor: pointer;
}
#applications button.styled {
  border: 1px solid #222222;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #222222;
  cursor: pointer;
}
#applications button.styled:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}
#applications .field {
  margin: 10px 0;
}
#applications .field label {
  display: block;
  margin: 10px 0;
}
#applications .field input[type=text], #applications .field textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 8px;
  font-family: "Source Sans 3", serif;
  font-size: 14px;
}
#applications .box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #222222;
}
#applications .box .spacer {
  flex-grow: 1;
}
#applications .error {
  margin: 10px 0 0;
  font-size: 14px;
  color: #602020;
}

#position-admin {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-family: "Source Sans 3", serif;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  #position-admin {
    left: 10%;
    right: 10%;
  }
}
#position-admin h1 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #222222;
  text-align: center;
  width: 100%;
}
#position-admin h2 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #222222;
  margin: 20px 0;
  text-align: center;
}
#position-admin ul .name {
  font-weight: bold;
}
#position-admin .button {
  border: 1px solid black;
  background: transparent;
  text-transform: uppercase;
  font-family: "Source Sans 3", serif;
  padding: 5px 10px;
  cursor: pointer;
}
#position-admin #add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#position-admin #add-form .error {
  margin: 10px 0 0;
  font-size: 14px;
  color: #602020;
}
#position-admin #add-form label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
#position-admin #add-form input[type=text] {
  width: 100%;
  background: transparent;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 8px;
  font-family: "Source Sans 3", serif;
  font-size: 14px;
}
#position-admin #add-form input[type=text]:focus {
  border-color: #222222;
  outline: none;
  box-shadow: 0 0 5px #222222;
}
#position-admin #add-form input[type=text]::placeholder {
  color: #222222;
  font-style: italic;
}
#position-admin #add-form .button {
  max-width: 200px;
}

.footer {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*# sourceMappingURL=style.css.map */
