<form id="question-form">
    <p>
        Vaš zahtev za izmenom je uspešno sačuvan.
        Admin će proveriti validnost unosa i uneti ga u sistem.<br>
        Pretražite vaš sesijski broj (iz donjeg levog ugla) za koji dan, na stranici <a href="/review">pregled izmena</a>
        za napomenu uz odobrenje ili neodobrenje.
    </p>
</form>